<form action="/api/category/add" method="post">
    <label for="name">Category name</label>
    <input type="text" id="name" name="name">

    <label for="img">Category img</label>
    <input type="text" id="img" name="img">

    <button type="submit">Create</button>
</form>