<form action="/api/category/add" method="post" enctype="multipart/form-data">
    <label for="name">Category name</label>
    <input type="text" id="name" name="name">
    <label for="img">Category img</label>
    <input type="file" id="img" name="img">
    <button type="submit">Create</button>
</form>