<form action="/api/category/update/{{category._id}}">
    <label for="name">Category name</label>
    <input type="text" value="{{category.name}}" id="name" name="name">

    <label for="img">Category img</label>
    <input type="text" value="{{category.img}}" id="img" name="img">

    <button type="submit">Edit</button>
</form>