<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Online Edu</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api">Home page</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Courses</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/category/">Categories</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Orders</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Users</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/logout">Logout</a>
    </div>
</div>