<div class="error404">
    <div class="box">
        <h1>Error 404</h1>
        <p>Page not found</p>
        <a href="/api">Back home</a>
    </div>
    <img src="https://www.google.com/images/errors/robot.png" alt="png">
</div> 